<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="supermercado">
      <h2 data-cy="supermercadoDetailsHeading"><span jhiTranslate="comparsApp.supermercado.detail.title">Supermercado</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ supermercado.id }}</span>
        </dd>
        <dt><span jhiTranslate="comparsApp.supermercado.nome">Nome</span></dt>
        <dd>
          <span>{{ supermercado.nome }}</span>
        </dd>
        <dt><span jhiTranslate="comparsApp.supermercado.cnpj">Cnpj</span></dt>
        <dd>
          <span>{{ supermercado.cnpj }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/supermercado', supermercado.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
